.menulist{
	background-color: #FFFFFF;
	padding: 28rpx 24rpx 0;
	display: flex;
	flex-wrap: wrap;
	.menu_item{
		width: 25%;
		display: flex;
		align-items: center;
		flex-direction: column;
		font-size: 24rpx;
		font-family: PingFang SC, PingFang SC-Medium;
		font-weight: 500;
		color: #000000;
		margin-bottom: 28rpx;
		.img{
			width: 80rpx;
			height: 80rpx;
			margin-bottom: 4rpx;
		}
	}
}
.comment{
	background-color: #FFFFFF;
	padding:0 40rpx;
	margin-top: 20rpx;
	.tabbox{
		padding:32rpx 0 0 0;
		display: flex;
		align-items: center;
		.tab_item{
			font-size: 32rpx;
			font-family: PingFang SC, PingFang SC-Regular;
			font-weight: 400;
			color: #060606;
			margin-right: 46rpx;
			position: relative;
			&.on{
				font-family: PingFang SC, PingFang SC-Bold;
				font-weight: 700;
				&::after{
					content:"";
					position: absolute;
					bottom:-8rpx;
					left:50%;
					z-index: 50;
					width: 40rpx;
					height: 2rpx;
					background-color:#fe694f;
					transform: translateX(-50%);
				}
			}
		}
	}
	.subtab{
		display: flex;
		align-items: center;
		padding: 30rpx 0 0 0;
		.subtab_item{
			font-size: 24rpx;
			font-family: PingFang SC, PingFang SC-Medium;
			font-weight: 500;
			color: #000000;
			margin-right: 60rpx;
			.img{
				margin-left: 20rpx;
				width: 15rpx;
				height: 21rpx;
			}
		}
	}
}
/*list*/
.spell{
	.tip{
		padding:36rpx 0 24rpx 0;
		font-size: 24rpx;
		font-family: PingFang SC, PingFang SC-Medium;
		font-weight: 500;
		color: #000000;
	}
	.red{
		color:#FE694F;
	}
	.ulist{
		.uitem{
			padding: 32rpx 20rpx;
			margin-bottom: 28rpx;
			background: #ffffff;
			box-shadow: 0rpx 6rpx 12rpx 0rpx #dedfdf;
			.hd{
				display: flex;
				align-items: center;
				.img{
					width: 70rpx;
					height: 70rpx;
					background-color: #eee;
					border-radius: 50%;
				}
				.info{
					padding-left: 17rpx;
					flex:1;
					.name{
						font-size: 28rpx;
						font-family: PingFang SC, PingFang SC-Medium;
						font-weight: 500;
						color: #010101;
					}
					.ft{
						margin-top: 4rpx;
						display: flex;
						align-items: center;
						justify-content: space-between;
						font-size: 20rpx;
						font-family: PingFang SC, PingFang SC-Medium;
						font-weight: 500;
						color: #848484;
						.right{
							display: flex;
							.icon_l{
								display: flex;
								align-items: center;
								margin-left: 12rpx;
							}
						}
					}
				}
			}
			.content{
				.conitem{
					padding-top: 15rpx;
					font-size: 24rpx;
					font-family: PingFang SC, PingFang SC-Medium;
					font-weight: 500;
					color: #000000;
					display: flex;
					.text{
						flex:1;
						.bold{
							font-weight: 600;
						}
					}
				}
			}
		}
	}
}
.slotbtn{
	width: 120rpx;
	height: calc(100% - 28rpx);
	background: #fe694f;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 28rpx;
	font-family: PingFang SC, PingFang SC-Medium;
	font-weight: 500;
	color: #ffffff;
}